html {
    height: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.row * {
    text-align: center;
    font-family: 'Poppins';
    transition-duration: 0.5s;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    display: block;
}

.nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
}

li a:hover {
    background-color: #111;
}

a {
    font-weight: bold;
}

li {
    font-weight: 700;
    font-family: Poppins;

}

p {
    text-align: center;
    font-family: Poppins, serif;
}

#result {
    flex: 99;
    background-color: #e2a942;
    color: #fff;
}

#allResults {
    flex: 1;
    background-color: #e2281f;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
}

#allResults:hover {
    flex: 99;
    writing-mode: horizontal-tb;
}

#allResults h1 {
    font-size: 0.9em;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

#t1 * {
    border: solid 1px black;
    text-align: center;
    padding: 1% 0;
    font-size: x-large;
    transition-duration: 0.5s;
    width: 20%;
}

#t2 * {
    border: solid 1px black;
    text-align: center;
    padding: 1% 0;
    width: 10%;
    transition-duration: 0.5s;
}

#t3 * {
    font-size: small;
}

#t3 tr:nth-child(3) td {
    font-size: 0.9em;
}

th {
    font-size: x-large;
    background-color: rgb(220, 167, 255);
}

tr:nth-child(even) {
    background-color: rgb(235, 210, 254);
}

tr:nth-child(odd) {
    background-color: rgb(218, 211, 255);
}

tr:hover {
    background-color: rgb(255, 255, 255);
}

#t1 tr td:nth-child(3) {
    width: 60%;
}

#pkmImg * {
    border: 0;
}

.hidden {
    display: none;
}
