body {
 	background-image: url("background.png");
 	background-repeat: no-repeat;
 	background-size: cover;
}

h1 {
	
}

h2 {
	width: 23%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
	box-sizing: border-box;
}

#design ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    display: block;
}

#design li {
    float: left;
}

#design li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#design li a:hover {
    background-color: #111;
}

/********************************************************* TAYLORS NAV DESIGN *****************************************************************************/

.envir{
	float: right;
	padding: 5px;
}

#scen {
	width: 23%;
}

.parent{
	position: relative;
}


.InfantMaleL {
	position: absolute;
	right: 30%;
	top: 65%;
	width: 18px;
	height: 35px;
}

.InfantFemaleL {
	position: absolute;
	right: 30.5%;
	top: 65%;
	width: 18px;
	height: 35px;
}


#ChildMaleL {
	position: absolute;
	right: 29%;
	top: 61%;
	width: 18px;
	height: 35px;
}

#ChildMaleWheelchair_BoundL {
	position: absolute;
	right: 29%;
	top: 61%;
	width: 22px;
	height: 30px;
}

#ChildMaleBlindL {
	position: absolute;
	right: 29%;
	top: 61%;
	width: 18px;
	height: 35px;
}

#ChildFemaleL {
	position: absolute;
	right: 27%;
	top: 62%;
	width: 18px;
	height: 35px;
	z-index: 1;
}

#ChildFemaleWheelchair_BoundL {
	position: absolute;
	right: 27%;
	top: 62%;
	width: 22px;
	height: 30px;
}

#ChildFemaleBlindL {
	position: absolute;
	right: 27%;
	top: 62%;
	width: 18px;
	height: 35px;
}

#AdultMaleL {
	position: absolute;
	right: 28%;
	top: 59.5%;
	width: 15px;
	height: 25px;
}

#AdultMaleWheelchair_BoundL {
	position: absolute;
	right: 28%;
	top: 59.5%;
	width: 30px;
	height: 40px;
}


#AdultMaleHomelessL {
	position: absolute;
	right: 28%;
	top: 59.5%;
	width: 15px;
	width: 25px;
}

#AdultMaleHomelessWheelchair_BoundL {
	position: absolute;
	right: 28%;
	top: 59.5%;
	width: 15px;
	height: 25px;
}


#AdultMaleEntrepreneurL {
	position: absolute;
	right: 28%;
	top: 54%;
	width: 52px;
	height: 50px;
	z-index: 1;
}

#AdultMaleEntrepreneurWheelchair_BoundL {
	position: absolute;
	right: 28%;
	top: 54%;
	width: 52px;
	height: 50px;
	z-index: 1;
}


#AdultFemaleL {
	position: absolute;
	right: 28%;
	top: 60%;
	width: 25px;
	height: 50px;
	z-index: 1;
}

#AdultFemaleWheelchair_BoundL {
	position: absolute;
	right: 28%;
	top: 60%;
	width: 30px;
	height: 40px;
}


#AdultFemaleHomelessL {
	position: absolute;
	right: 28%;
	top: 60%;
	width: 25px;
	height: 50px;
}

#AdultFemaleHomelessWheelchair_BoundL {
	position: absolute;
	right: 28%;
	top: 60%;
	width: 25px;
	height: 50px;
}

#AdultFemaleEntrepreneurL {
	position: absolute;
	right: 27%;
	top: 58%;
	width: 35px;
	height: 50px;
}

#AdultFemaleEntrepreneurWheelchair_BoundL {
	position: absolute;
	right: 27%;
	top: 58%;
	width: 35px;
	height: 50px;
}

#ElderlyMaleL {
	position: absolute;
	right: 27%;
	top: 57%;
	width: 22px;
	height: 42px;
}

#ElderlyMaleBlindL {
	position: absolute;
	right: 27%;
	top: 57%;
	width: 22px;
	height: 42px;
}

#ElderlyMaleHomelessL {
	position: absolute;
	right: 27%;
	top: 57%;
	width: 22px;
	height: 42px;
}

#ElderlyMaleHomelessBlindL {
	position: absolute;
	right: 27%;
	top: 57%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleL {
	position: absolute;
	right: 30%;
	top: 60%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleBlindL {
	position: absolute;
	right: 30%;
	top: 60%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleHomelessL {
	position: absolute;
	right: 30%;
	top: 60%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleHomelessBlindL {
	position: absolute;
	right: 30%;
	top: 60%;
	width: 22px;
	height: 42px;
}





/******************************************************************** OTHER SIDE OF ROAD ******************************************************************/

.InfantMaleR {
	position: absolute;
	right: 21%;
	top: 654%;
	width: 18px;
	height: 35px;
}

.InfantFemaleR {
	position: absolute;
	right: 21%;
	top: 654%;
	width: 18px;
	height: 35px;
}


#ChildMaleR {
	position: absolute;
	right: 22%;
	top: 61%;
	width: 18px;
	height: 35px;
}

#ChildMaleWheelchair_BoundR {
	position: absolute;
	right: 22%;
	top: 61%;
	width: 22px;
	height: 30px;
}

#ChildMaleBlindR {
	position: absolute;
	right: 22%;
	top: 614%;
	width: 18px;
	height: 35px;
}

#ChildFemaleR {
	position: absolute;
	right: 22.5%;
	top: 61%;
	width: 18px;
	height: 35px;
}

#ChildFemaleWheelchair_BoundR {
	position: absolute;
	right: 22.5%;
	top: 61%;
	width: 22px;
	height: 30px;
}

#ChildFemaleBlindR {
	position: absolute;
	right: 22.5%;
	top: 614%;
	width: 18px;
	height: 35px;
}

#AdultMaleR {
	position: absolute;
	right: 23%;
	top: 59.5%;
	width: 23px;
	height: 50px;
	z-index: 4;
}

#AdultMaleWheelchair_BoundR {
	position: absolute;
	right: 23%;
	top: 59.5%;
	width: 30px;
	height: 40px;
}

#AdultMaleEntrepreneurR {
	position: absolute;
	right: 23%;
	top: 55%;
	width: 52px;
	height: 50px;
	z-index: 0;
}

#AdultMaleEntrepreneurWheelchair_BoundR {
	position: absolute;
	right: 23%;
	top: 554%;
	width: 52px;
	height: 50px;
	z-index: 0;
}

#AdultMaleHomelessR {
	position: absolute;
	right: 23%;
	top: 554%;
	width: 52px;
	height: 50px;
}

#AdultMaleHomelessWheelchair_BoundR {
	position: absolute;
	right: 23%;
	top: 554%;
	width: 52px;
	height: 50px;
}

#AdultFemaleR {
	position: absolute;
	right: 23%;
	top: 61.5%;
	width: 22px;
	height: 50px;
	z-index: 3;
}

#AdultFemaleWheelchair_BoundR {
	position: absolute;
	right: 25%;
	top: 61.5%;
	width: 30px;
	height: 40px;
}

#AdultFemaleEntrepreneurR {
	position: absolute;
	right: 23%;
	top: 59%;
	width: 35px;
	height: 50px;
	z-index: 2;
}

#AdultFemaleEntrepreneurWheelchair_BoundR {
	position: absolute;
	right: 23%;
	top: 614.5%;
	width: 22px;
	height: 50px;
}

#AdultFemaleHomelessR {
	position: absolute;
	right: 23%;
	top: 614.5%;
	width: 22px;
	height: 50px;
}

#AdultFemaleHomelessWheelchair_BoundR {
	position: absolute;
	right: 23%;
	top: 614.5%;
	width: 22px;
	height: 50px;
}

#ElderlyMaleR {
	position: absolute;
	right: 24%;
	top: 59%;
	width: 22px;
	height: 42px;
	z-index: 1;
}

#ElderlyMaleBlindR {
	position: absolute;
	right: 24%;
	top: 594%;
	width: 22px;
	height: 42px;
}

#ElderlyMaleHomelessR {
	position: absolute;
	right: 24%;
	top: 594%;
	width: 22px;
	height: 42px;
}

#ElderlyMaleHomelessBlindR {
	position: absolute;
	right: 24%;
	top: 594%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleR {
	position: absolute;
	right: 21.5%;
	top: 60%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleBlindR {
	position: absolute;
	right: 21.5%;
	top: 604%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleHomelessR {
	position: absolute;
	right: 21.5%;
	top: 604%;
	width: 22px;
	height: 42px;
}

#ElderlyFemaleHomelessBlindR {
	position: absolute;
	right: 21.5%;
	top: 604%;
	width: 22px;
	height: 42px;
}

/*************************************************************** CAR & TRAFFIC LIGHTS ********************************************************************/

#car {
	transform: rotate(-42deg);
	position: absolute;
	right: 36.5%;
	top: 85.5%;
	
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

.c1 {
margin-top: 1%;
font-size: 14px;
}


.c2 {
margin-top: 2%;
font-size: 14px;

}

.c3 {
margin-top: 2%;
font-size: 14px;
}

.placer {
margin-top: 1%;
}

form {
	background-color: rgb(171,39,79, 0.4);
	width: 23%;
	border-radius: 7.5%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
}





.submitbtn {
	float: left;
	margin-left: 80%;

}


/********************************************************** HIGHLIGHTING THE CHARS IN EACH GROUP *********************************************************/

.c2 b:hover~ {
	border:2px solid red;  
	box-shadow: 0 0 10px #333;
}

.c1 b:hover~#${person["age"]}${person["gender"]}${person["profession"]}${person["disability"]}L {
	background-color: blue;
}

~