#person {
    color: white;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    border-radius: 10px;
    transition: 0.4s;
}
#person:hover {
    color: black;
    background-color: lightgray;
    border: solid 1px black;
    opacity: 1;
    transition: 0.4s;
}
ol,ul {
    list-style-type: none;
    padding: 0;
}